/* =======================
   Module/Contact
   ======================= */

.contact {
   display: flex;
   justify-content: space-between;
   width: 100%;

   &__bloc {
      width: 50%;

      address{
         font-style: normal;
         font-size: 1.2rem;
      }

      .logo-fb {
         padding-left: 46%;
      }      
   }
   
   &__title {
      text-align: center;
   }

   &__table{
      margin-left : auto;
      margin-right: auto;
      padding: 5%;

      .contact-td {
         border-collapse: collapse;
         letter-spacing: 1px;
         font-size: 1rem;
         font-family: $font-secondary;    
      }
   }

   &__form {
      margin-left: 10%;
      
      .contact-label {
         letter-spacing: 1px;
         font-family: $font-secondary; 
         font-size: 1rem;   
      }

      .error {
         display: inline-block;
         color: $color-error;
         margin-bottom: rem(5);
      }

   }
   
   .valid {
      display: inline-block;
      color: $color-valid;
      margin-bottom: rem(5);
   }
   
   @media #{$large-down} {
      flex-direction: column;
      align-items: center;
      
      &__bloc {
         width: 80%;
      }

      &__form {
         margin-left: 0;
      }
   }

}
  


  